/* TODO: Fix scrollbar */

.WeedUI {
    font-family: 'PetMe64Web';
}

.hues-w-beatleft, .hues-w-beatright {
    font-size: 13px;
    position: absolute;
    padding: 0 0 0 5px;
    top: 5px;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}
.hues-w-beatleft {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    left: 8px;
    right: 50%;
}
.hues-w-beatright {
    left: 50%;
    right: 8px;
}

.hues-w-beataccent {
    position: absolute;
    left: 0; right: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
    text-align:center;
    font-size: 35px;
    opacity: 0;
    text-shadow: -2px 2px 0px #666;
    
    animation-name: fallspin;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-duration: 0.5s;
    
    -webkit-animation-name: fallspin;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-duration: 0.5s;
}

@keyframes fallspin {
    from {transform: rotate(0deg) translate(0px, 0px);
          opacity: 1;}
}
@-webkit-keyframes fallspin {
    from {-webkit-transform: rotate(0deg) translate(0px, 0px);
          opacity: 1;}
}