@font-face {
  font-family: 'PetMe64Web';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: none;
  font-smooth: never;
  src: local("PetMe64Web");
  src: local('Pet Me 64'), local('Pet Me 64'), url("../fonts/PetMe64.woff") format('woff');
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/HuesExtra.eot?gmxg3s');
    src:    url('../fonts/HuesExtra.eot?gmxg3s#iefix') format('embedded-opentype'),
        url('../fonts/HuesExtra.ttf?gmxg3s') format('truetype'),
        url('../fonts/HuesExtra.woff?gmxg3s') format('woff'),
        url('../fonts/HuesExtra.svg?gmxg3s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hues-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    margin: 0; padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 15pt;
}

h2 {
    font-size: 10pt;

}

h3 {
    font-size: 7pt;
}

h1, h2, h3 {
    text-align: center;
}

#about {
    border-bottom: 2px solid black;
}

#reference {
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content: center;
    justify-content: center;
}

.info-ref {
    float: left;
    font-size: 8pt;
    text-align: left;
    background: rgba(100,100,100,0.3);
    border-radius: 15px;
    margin: 10px;
    padding: 0px 5px;
}

.info-ref h3 {
    font-size: 10pt;
    margin: 10px 0px 0px 10px;
    text-align: left;
}

.info-ref ul {
    list-style-type: none;
    padding: 0px;
    margin: 10px;
}

#waifu, #snow {
    position: absolute;
    display: block;
    height: 100%;
    padding: 0;
}

#waifu {
    z-index: -10;
}

#snow {
    z-index: -9;
}

#snow.hidden {
    display: none;
}

#visualiser {
    position:absolute;
    z-index: -1;
}

#visualiser.hidden {
    display: none;
}

#preloadHelper {
    background-color: #FFF; 
    width: 100%;
    height: 100%;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-family: 'PetMe64Web';
    font-size: 25pt;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s linear, opacity 1s linear;
    -webkit-transition: visibility 1s linear, opacity 1s linear;
}

#preloadHelper.loaded {
    visibility: hidden;
    opacity: 0;
}

#preloader {
    display: block;
    text-align: center;
}

#preSub {
    font-size: 12pt;
}

#tabs {
    margin: -1px;
    padding-top: 22px;
}

input[type=radio] {
    display:none;
}

.tab-label{
    cursor: pointer;
    display: table-cell;
    padding: 10px;
    border: 2px solid black;
    width: 1%;
    text-align: center;
}

label.tab-label:hover {
    background: rgba(255,255,255,0.3);
}

input.tab-input[type="radio"]:checked + label {
    border-bottom: 0px;
}

.tab-content {
    display: none;
}

#tab1:checked ~ #tab1-content,
#tab2:checked ~ #tab2-content,
#tab3:checked ~ #tab3-content {
    display: block;
}

#settingsHelper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
}

#settingsWindow {
    position: relative;
    z-index: 9;
    width: 640px;
    height: 470px;
    margin-left: -320px;
    margin-top: -235px;
    
    background: rgba(200,200,200, 0.7);
    border-color: "black";
    border-width: 2px;
    border-style: solid;
    font-family: 'PetMe64Web';
}

#huesSettings {
    padding: 5px;
}

#closeButton {
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 0px;
    background-color: rgb(128,128,128);
    border: 1px solid black;
    cursor: pointer;
}

#closeButton:hover {
    background-color: rgb(200,200,200);
}

.settings-category {
    font-size: 12pt;
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.settings-individual{
    font-size: 8pt;
    padding-left: 10px;
}

.settings-buttons{
    margin: 5px 2px 8px -5px;
}

.settings-checkbox{
    display: none;
}

.settings-label {
    font-size: 7pt;
    margin: 10px 2px;
    padding: 3px;
    background: rgba(127,127,127, 0.5);
    border-color: rgb(0,0,0);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    /* Don't want double click to select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.settings-label:hover {
    background: rgba(200,200,200,0.5);
}

.settings-input {
    font-family: 'PetMe64Web';
    font-size: 7pt;
    padding: 3px;
    margin: -6px 0;
    background: rgba(127,127,127, 0.5);
    border-color: rgb(0,0,0);
    border-width: 1px;
    border-style: solid;
    width: 2em;
}

#huesSettings input[type="radio"]:checked + label {
    background: rgba(255,255,255, 0.5);
}