/* XmasUI */

.hues-m-controls.hues-x-controls {
    height: 50px;
    z-index: 1;
    background: none;
    border-style: none;
}

.hues-x-controls > .hues-m-songtitle {
    bottom: 5px;
}

.hues-x-controls > .hues-m-imagename {
    bottom: 29px;
}

.hues-m-beatbar.hues-x-beatbar {
    background: none;
    border-style: none;
    overflow: visible;
}

.hues-x-light {
    position: absolute;
    width: 68px;
    height: 113px;
    transform-origin: 32px 69px;
    background-image: url("../img/lightbase.png");
    background-repeat: no-repeat;
}

.hues-x-fade{
    transition: opacity 0.1s linear;
}

.hues-x-lighton, .hues-x-lightoff {
    position: absolute;
    width: 56px;
    height: 81px;
    left: 5px;
    top: 9px;
    background-repeat: no-repeat;
}

.hues-x-lighton {
    opacity: 1;
    background-image: url("../img/lighton.png");
}

.hues-x-lightoff {
    opacity: 0;
    background-image: url("../img/lightoff.png");
}

.hues-x-lighton.off{
    opacity: 0;
}

.hues-x-lightoff.off{
    opacity: 1;
}

.hues-x-wiresleft, .hues-x-wiresbottom, .hues-x-wiresright {
    position: absolute;
    background-repeat: no-repeat;
}

.hues-x-wiresleft, .hues-x-wiresright {
    height: 100%;
    top: 0px;
    overflow: hidden;
}

.hues-x-wiresleft {
    width: 200px;
    left: 0px;
    background-image: url("../img/wiresleft.png");
}

.hues-x-wiresright {
    width: 200px;
    right: 0px;
    background-image: url("../img/wiresright.png");
    background-position: 141px 0px;
}

.hues-x-wiresbottomhelper {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.hues-x-wiresbottom {
    height: 200px;
    width:2889px;
    background-image: url("../img/wiresbottom.png");
    background-position: 0px 144px;
    left:50%;
    margin-left: -1444.5px;
    overflow: hidden;
}

.hues-x-visualisercontainer {
    transform: scaleY(-1);
    position: absolute;
    width: 100%;
    height: 64px;
    top: 25px;
    left: 0;
}